@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Plus Jakarta Sans", sans-serif;
}

.custom-google-button {
    width: 350px !important;
    height: 41px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.button-gradient{
    background: linear-gradient(90deg, #3CDA91, #3676DD);
}